h1{
    color:green;
    text-transform: uppercase;
    text-align: center;
}

/* Universal Selector */
*{
    /* color: green; Text */
    /* color:#3cd4e8; Hex */
    /* color: rgb( 9, 10, 71); */

    margin: 0;
    padding: 0;

}

/* tag or element Selector */

/* div{
    color: green;
    word-spacing: 40px;
    width: 70%;
} */

/* attribute selector */
/* a[target="_blank"]{
    color: red;
    text-decoration: ;
} */

/* id selector */
#idselector{
    color: blue;
    text-indent: 50px;
    word-spacing: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

/* class selector */

/* .classselector{
    color: brown;
    letter-spacing: 20px;
    line-height: 10px;
} */

/* descendent selector */

.desc a{
    color: red;
}

/* child selector */

.child > a{
    color:green;
}

/* pseudo selector */

a:link{
    color:red;
}

a:hover{
    color: green;
}
a:active{
    color: yellow;
    letter-spacing: 40px;
}

a:visited{
    color: brown;
}

/* target */
div:target{
    border: 1px solid black;
}

p:target{
    border:1px solid red;
}

/* border */
.borderone{
    border: 3px dashed black;
}

.bordertwo{
    border-bottom: 3px double green;
}

.borderstyle{
    /* border-style: solid dotted double groove; */
    /* T R B L */
    /* border-style: solid dotted double; */
    /* T / L&R / B */
    border-style: solid dashed;
    /* T&B / L&R */
}

.borderwidth{
    border-width: 5px;
    border-style: solid;
}

/* Margin */

.margin{
    border: 1px solid;
    margin: 40px;
}

.marginmix{
    border: 1px solid black;
    margin-left: 60px;
}

/* Padding */

.padding{
    padding: 50px 0px 0px 60px;
    border: 1px solid black;
}

/* Layout */

.inline{
    border: 1px solid red;
    width: 400px;
    display: block;

}

.block{
    border: 1px solid green;
    width: 400px;
    height: 80px;
    display: inline-block;
}

/* float */
div.float_left img{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
div.float_right img{
    width: 40%;
    float: right;
}

/* grid */

div.gridone div,div.gridtwo div,div.gridthree div,div.gridfour div,div.gridfive div,div.gridsix div{
    text-align:center;
    color: white;
    padding: 20px;
}


div.gridone,div.gridtwo,div.gridthree,div.gridfour,div.gridfive,div.gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}

div.gridtwo{
    grid-column-gap: 40px;
}

div.gridthree{
    grid-row-gap: 40px;
}

div.gridfour{
    grid-gap: 40px;
}

.gridaddcolumn{
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridaddrow{
    grid-row-start: 1;
    grid-row-end: 3;
}

/* position */
.relativeparent{
    border: 1px solid black;
    width: 1000px;
    height: 600px;
}

.relative{
    border: 1px solid red;
    width: 500px;
    height: 300px;
    position: relative;
    top: 80px;
    left: 190px;
}

.absoluteparent{
    border: 1px solid black;
    width: 1000px;
    height: 600px;
    position: relative;
}

.absolute{
    position: absolute;
    top: 100px;
    left: 50px;
    border: 1px solid yellow;
    width: 500px;
    height: 300px;
}

.fixed{
    position: fixed;
    top: 50px;
    left: 1000px;
}

/* Online */
.font{
font-family: 'Josefin Sans', sans-serif;
font-family: 'Stick', sans-serif;
font-family: 'The Nautigal', cursive;
}

/* Offline */
@font-face{
    src:url(font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
    font-family: a;
}

.offline{
    font-family: a;
}

